<div class="container">
    <div class="parent-home">
        
        <div class="item">
            <h1>Bienvenid@ a Some University v2.0</h1>
            <p>Desde aquí tiene acceso a los registros de nuestra institución, puede agregar nuevos o eliminar los que vea innecesarios🙃</p>

            <a href="#!/registros" class="btn btn-primary my-2 mr-2">
                Explorar registros
                <i class="fa fa-search ml-2"></i>
            </a>
            <a href="#!/agregar" class="btn btn-primary my-2 mr-2">
                Agregar registros
                <i class="fa fa-arrow-right ml-2"></i>
            </a>
        </div>

        <div class="item img-container">
            <img src="../images/undraw_Collaboration_re_vyau.png">
        </div>

    </div>
</div>
