<div class="container-md">
    <div class="addOptions py-5">
        <a href="#!/registros/docentes" class="cardCont text-dark m-3">
            <div class="card p-5">
                
                <img class="m-1" src="../../images/undraw_teacher.png">
                <h3>Registro de docentes</h3>
                
            </div>
        </a>
        <a href="#!/registros/estudiantes" class="cardCont text-dark m-3">
            <div class="card p-5">
                
                <img class="m-1" src="../../images/undraw_student.png">
                <h3>Registro de estudiantes</h3>
                
            </div>
        </a>
    </div>
</div>
