
<div class="container-md">

    <table class="table table-responsive-md table-hover mt-3">
        <thead class="thead-dark">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th>Fecha de nacimiento</th>
            <th>Carrera</th>
            <th>Semestre</th>
            <th class="text-danger">Danger zone</th>
        </thead>
        <tbody>
            <tr ng-repeat="estudiante in estudiantes">
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido }}</td>
                <td>{{ estudiante.ciudad }}</td>
                <td>{{ estudiante.fechaNacimiento }}</td>
                <td>{{ estudiante.carrera }}</td>
                <td>{{ estudiante.semestre }}</td>
                <td>
                    <input type="button" class="btn btn-danger" value="Eliminar" ng-click="eliminarEstudiante($index)" />
                </td>
            </tr>
        </tbody>
    </table>

</div>
