
<div class="container-md">

    <table class="table table-responsive-md table-hover mt-3">
        <thead class="thead-dark">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th>Fecha de nacimiento</th>
            <th>Departamento/Área</th>
            <th>Antigüedad</th>
            <th class="text-danger">Danger zone</th>
        </thead>
        <tbody>
            <tr ng-repeat="doc in docentes">
                <td>{{ doc.nombre }}</td>
                <td>{{ doc.apellido }}</td>
                <td>{{ doc.ciudad }}</td>
                <td>{{ doc.fechaNacimiento }}</td>
                <td>{{ doc.departamento }}</td>
                <td>{{ doc.antiguedad }}</td>
                <td>
                    <input type="button" class="btn btn-danger" value="Eliminar" ng-click="eliminarDocente($index)" />
                </td>
            </tr>
        </tbody>
    </table>

</div>
