
<div class="container-md">

    <div class="no-data py-5" ng-if="docentes.length === 0">
        <img
        src="../../images/undraw_No_data_re_kwbl.png">
        <h3>Aún no hay registros</h3>
    </div>

    <h2 class="my-5 text-center" ng-if="estudiantes.length > 0">Registro de estudiantes</h2>

    <table class="table table-responsive-md table-hover mt-3" ng-if="estudiantes.length > 0">
        <thead class="thead-dark">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th>Fecha de nacimiento</th>
            <th>Carrera</th>
            <th>Semestre</th>
            <th class="text-danger">Danger zone</th>
        </thead>
        <tbody>
            <tr ng-repeat="est in estudiantes">
                <td>{{ est.nombre }}</td>
                <td>{{ est.apellido }}</td>
                <td>{{ est.ciudad }}</td>
                <td>{{ est.fechaNacimiento }}</td>
                <td>{{ est.carrera }}</td>
                <td>{{ est.semestre }}</td>
                <td>
                    <input type="button" class="btn btn-danger" value="Eliminar" ng-click="eliminarEstudiante($index)" />
                </td>
            </tr>
        </tbody>
    </table>

</div>
